body
{
	color: #007065;
background-color: #dcdcdc;
background-size: cover;
margin: 0px;
}
h1
{
	margin: 0px;
}
label
{
	width:35em;
	float:left;
	text-align:right;
	margin-right: 1em;
	display:block;
}
.menu
{
	float: left;
	height:768px;
	width:200px;
}
.pstn
{
position: absolute;
left:0;
bottom: 0;
}
.algn
{
	margin-left: 150px;
	line-height: 150%;

}
.imgalgn
{
    margin-top: 12px;
	margin-left: 0px;
	float: left;
} 
div.header
{
	background-color: #007065;
	width:100%;
	height: 80px;
	position: relative;
	margin: 0px;
	color: white;
	padding-top: 8px;
}
div.header p
{
	
	text-align:right;
	 margin:0px;
}

footer
{
	background-color: #007065;
	 clear: both;
    text-align: center;
    color: white;
	height: 50px;
    bottom: 0px;
    width: 100%;
    padding-top: 8px;
}