body
{
	color: #3104B4;
background-image: url("grass.jpg");
background-size: cover;
}
a:hover
{
	background-color: #86B404;
}
label
{
	width:35em;
	float:left;
	text-align:right;
	margin-right: 1em;
	display:block;
}
.menu
{
	background-image: url("/data/b.jpg");
	float: left;
	height:768px;
	width:200px;
}
.pstn
{
position: absolute;
left:0;
bottom: 0;
}
.header
{
	background-image: url("/data/b.jpg");
	width:1366px;
	top:0px;
}
.mge
{
	background-image: url("/data/images");
	height:768px;
	width:200px
}
.footer
{
	background-image: url("/data/images");
	bottom: 0px;
}